.main-header {
    width: 100%;
    padding: 2rem;
    background-color: var(--color-foreground);
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    align-items: center;
    
    .header-logo {

        .header-title {
            text-decoration: none;
            font-size: 3.5rem;
            color: var(--color-text-c); 

            .header-icon {
                font-size: 2.5rem;
            }
        }
        
    }

    .modal-login-btn {
        display: flex;
        flex-direction: row;
        gap: .3rem;
        justify-content: space-between;
        align-items:end;
        font-size: 1.5rem;
        color: var(--color-text-c);
        
        .modal-open-text {
            font-family: 'old-standard-tt';
            font-size: 1rem;
            font-weight: 400;
        }
    }
    .modal-login-btn:hover { 
        color: var(--color-text-a);
    }
}